.clearfix:after { content: "\00A0"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix{ display: inline-block;}
html[xmlns] .clearfix { display: block;}
* html .clearfix{ height: 1%;}
.clearfix {display: block}
* {
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
  background: #333;
  font: 100% "lucida grande",tahoma,verdana,arial,sans-serif;
  color: #ddd;
}
#comic-reader {
  height: 100%;
}
.comic-meta-wrap {
  background: #777;
}
.comic-meta-wrap .progress {
  height: 4px;
  background: #999;
  position: relative;
}
.comic-meta-wrap .progress-inner {
  height: 4px;
  background: rgb(227, 190, 255);
}
.comic-meta-wrap .progress-indicator {
  height: 4px;
  position: absolute;
  background: rgb(180, 0, 123);
}
.comic-meta-wrap nav {
  padding: 8px 12px;
  font-size: 16px;
}
.comic-meta-wrap .page-index {
  float: left;
}
.comic-meta-wrap .page-size {
  float: left;
  padding: 0 20px;
}
.comic-image {
  display: block;
  margin: 0 auto;
}
